<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dev-intheloop-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dev-intheloop-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dev-intheloop-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dev-intheloop-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=intheloop;AccountKey=KRMtM8/xoB4hLH2sVkfaPQ15Carb19Kx71dwUKsALazaIw7VVYz1IGM1QM80q3iDOcwRz0Wal2NXM56K9gooKQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=intheloop;AccountKey=KRMtM8/xoB4hLH2sVkfaPQ15Carb19Kx71dwUKsALazaIw7VVYz1IGM1QM80q3iDOcwRz0Wal2NXM56K9gooKQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DatabaseContext" Order="3" Enabled="False">
          <Destination Path="Data Source=x62iuoosvc.database.windows.net,1433;Initial Catalog=Dev-InTheLoop;Persist Security Info=True;User ID=Chester;Password=TvOnTheRadio123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="InTheLoopAPI.Models.DatabaseContext, InTheLoopAPI" MigrationConfiguration="InTheLoopAPI.Migrations.Configuration, InTheLoopAPI" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=x62iuoosvc.database.windows.net,1433;Initial Catalog=Dev-InTheLoop;Persist Security Info=True;User ID=Chester;Password=TvOnTheRadio123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>